<footer class="bgDark">
  <div class="container">
    <img src="assets/images/favicon.svg" class="logo-brand" alt="logo" id="logo-tam"/>
    <ul class="list-inline">
      <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
      <li class="list-inline-item footer-menu"><a href="#">Nosotros</a></li>
      <li class="list-inline-item footer-menu"><a href="#">Pacientes</a></li>
      <li class="list-inline-item footer-menu"><a href="#">Doctores</a></li>
      <li class="list-inline-item footer-menu"><a href="#">Contactanos</a></li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#"
          ><img src="assets/images/instagram.svg" class="img-fluid"
        /></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><img src="assets/images/twitter.svg" class="img-fluid"
        /></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><img src="assets/images/youtube.svg" class="img-fluid"
        /></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><img src="assets/images/facebook.svg" class="img-fluid"
        /></a>
      </li>
    </ul>
    <small
      >©2020 All Rights Reserved. Created by
      <a
        href="https://themesbootstrap.com/"
        class="font-weight-bold"
        target="_blank"
        rel="noopener"
        >{{ autor.nombre }}</a
      ></small
    >
  </div>
</footer>
