<br />
<br />
<br />
<br />
<br />
<br />
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #pacienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2"
          >Nombre Completo</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="paciente.nombreApellido"
            name="nombre"
            #nombre="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors.required">Nombre es requerido</div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="dni" class="col-form-label col-sm-2">Nro DNI</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="paciente.dni"
            name="dni"
            #dni="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="dni.invalid && (dni.dirty || dni.touched)"
          >
            <div *ngIf="dni.errors.required">Nro DNI es requerido</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="cellPhone" class="col-form-label col-sm-2">Celular</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="paciente.cellPhone"
            name="cellPhone"
            #cellPhone="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="cellPhone.invalid && (cellPhone.dirty || cellPhone.touched)"
          >
            <div *ngIf="cellPhone.errors.required">
              Nro Celular es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-form-label col-sm-2">Genero</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="paciente.gender"
            name="gender"
            #gender="ngModel"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="birthDate" class="col-form-label col-sm-2">Fecha Nac</label>
        <div class="col-sm-6">
          <input
            matInput
            [matDatepicker]="picker"
            class="form-control dataPickerForm"
            [(ngModel)]="paciente.birthDate"
            name="birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="distrito" class="col-form-label col-sm-2">Distrito</label>
        <div class="col-sm-6">
          <select
            [compareWith]="compararDistrito"
            class="form-control select-big"
            [(ngModel)]="paciente.distrito"
            name="distrito"
          >
            <option [ngValue]="undefined">
              --- selecionar un distrito ---
            </option>
            <option
              *ngFor="let distrito of distritos | async"
              [value]="distrito.id"
            >
              {{ distrito.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="paciente.address"
            name="address"
            #address="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="address.invalid && (address.dirty || address.touched)"
          >
            <div *ngIf="address.errors.required">Dirección es requerido</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="paciente.email"
            name="email"
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email.errors.required">Email es requerido</div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!paciente.id; else elseBlock"
            [disabled]="!pacienteForm.form.valid"
          >
            Crear
          </button>

          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!pacienteForm.form.valid"
            >
              Guardar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
