<div class="abrir-modal animacion fadeIn" *ngIf="modalReservaService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button
            (click)="cerrarModal()"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="reserva" class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{ reserva.nroReserva }}</li>
                  <li class="list-group-item">{{ reserva.tipoDocumento }}</li>
                  <li class="list-group-item">{{ reserva.nroDocumento }}</li>
                  <li class="list-group-item">{{ reserva.especialidad }}</li>
                  <li class="list-group-item">{{ reserva.medico }}</li>
                  <li class="list-group-item">{{ reserva.hora }}</li>
                  <li class="list-group-item">
                    {{ reserva.createAt | date: "fullDate" }}
                  </li>
                </ul>
                <div
                  class="input-group mb-3"
                  *ngIf="authService.hasRole('ROLE_ADMIN')"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="cerrarModal()"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
