<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #pacienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="dni" class="col-form-label col-sm-2">DNI</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.dni" name="dni" #dni="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
            <div *ngIf="dni.errors.required">
              DNI es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="genero" class="col-form-label col-sm-2">Genero</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.genero" name="genero" #genero="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="genero.invalid && (genero.dirty || genero.touched)">
            <div *ngIf="genero.errors.required">
              Genero es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" [(ngModel)]="paciente.email" name="email" #email="ngModel"> <!-- required email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="celular" class="col-form-label col-sm-2">Celular</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.celular" name="celular" #celular="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
            <div *ngIf="celular.errors.required">
              Celular es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="distrito" class="col-form-label col-sm-2">Distrito</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.distrito" name="distrito" #distrito="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="distrito.invalid && (distrito.dirty || distrito.touched)">
            <div *ngIf="distrito.errors.required">
              Distrito es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.direccion" name="direccion" #direccion="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
            <div *ngIf="direccion.errors.required">
              Dirección es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="referencia" class="col-form-label col-sm-2">Referencia</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.referencia" name="referencia" #referencia="ngModel"> <!-- required -->
        </div>
      </div>

      <div class="form-group row">
        <label for="interior" class="col-form-label col-sm-2">Interior</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="paciente.interior" name="interior" #interior="ngModel"> <!-- required -->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!paciente.id else elseBlock" [disabled]="!pacienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!pacienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
