<div class="card border-primary mb-3">
  <div class="card-header">Pacientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de pacientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/pacientes/form']">
        Crear Paciente
      </button>
    </div>
    <div *ngIf="pacientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="pacientes?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>dni</th>
          <th>genero</th>
          <th>fecha</th>
          <th>email</th>
          <th>celular</th>
          <th>distrito</th>
          <th>direccion</th>
          <th>referencia</th>
          <th>interior</th>
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td>{{ paciente.id }}</td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.apellido | uppercase }}</td>
          <td>{{ paciente.dni }}</td>
          <td>{{ paciente.genero }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.celular }}</td>
          <td>{{ paciente.distrito }}</td>
          <td>{{ paciente.direccion }}</td>
          <td>{{ paciente.referencia }}</td>
          <td>{{ paciente.interior }}</td>
          <td>{{ paciente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/pacientes/form', paciente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(paciente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
