<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #reservaForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Tipo Documento</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese tipo documento"
            [(ngModel)]="reserva.tipoDocumento"
            name="tipoDocumento"
            #tipoDocumento="ngModel"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">N° Documento</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese N° de documento"
            [(ngModel)]="reserva.nroDocumento"
            name="nroDocumento"
            #nroDocumento="ngModel"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Especialidad</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese una especialidad"
            [(ngModel)]="reserva.especialidad"
            name="especialidad"
            #especialidad="ngModel"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Medico</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese un medico"
            [(ngModel)]="reserva.medico"
            name="medico"
            #medico="ngModel"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="createAt">Fecha cita</label>
          <input
            matInput
            [matDatepicker]="picker"
            class="form-control dataPickerForm"
            [(ngModel)]="reserva.createAt"
            name="createAt"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Hora de cita</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese una hora de cita"
            [(ngModel)]="reserva.horaCita"
            name="horaCita"
            #horaCita="ngModel"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="createAt">N° Reserva</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese un nro Reserva"
            [(ngModel)]="reserva.nroReserva"
            name="nroReserva"
            #nroReserva="ngModel"
          />
        </div>
        <div class="form-group col-md-4">
         
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <button
            class="btn btn-primary btn-block"
            role="button"
            (click)="create()"
            *ngIf="!reserva.id; else elseBlock"
            [disabled]="!reservaForm.form.valid"
          >
            Crear
          </button>

          <ng-template #elseBlock>
            <button
              class="btn btn-primary btn-block"
              role="button"
              (click)="update()"
              [disabled]="!reservaForm.form.valid"
            >
              Guardar
            </button>
          </ng-template>
        </div>
        <div class="form-group col-md-4">
          <button type="submit" class="btn btn-danger btn-block">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
