<br />
<br />
<br />
<br />
<br />
<br />
<div class="container text-center mt-3">
  <button
    class="btn btn-rounded btn-primary"
    type="button"
    [routerLink]="['/reservas/editar-reserva']"
  >
    Crear Reserva
  </button>
</div>
<div *ngIf="reservas?.length == 0" class="alert alert-info">
  No hay registros en la base de datos!
</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table
          id="example"
          class="table table-striped table-bordered"
          style="width: 100%"
          *ngIf="reservas?.length > 0"
        >
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>N° Reserva</th>
              <th>Tipo Doc</th>
              <th>N° Doc</th>
              <th>Especialidad</th>
              <th>Medico</th>
              <th>Fecha cita</th>
              <th>Hora cita</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas">
              <td>{{ reserva.id }}</td>
              <td>{{ reserva.nroReserva }}</td>
              <td>{{ reserva.tipoDocumento }}</td>
              <td>{{ reserva.nroDocumento }}</td>
              <td>{{ reserva.especialidad }}</td>
              <td>{{ reserva.medico }}</td>
              <td>{{ reserva.createAt | date: 'shortDate' }}</td>
              <td>{{ reserva.horaCita }}</td>
              <td>
                <button
                  type="button"
                  name="editar"
                  [routerLink]="['/reservas/editar-reserva', reserva.id]"
                  class="btn btn-primary btn-sm"
                >
                  <i class="fas fa-user-edit"></i>
                </button>
              </td>
              <td>
                <button
                  type="button"
                  name="eliminar"
                  (click)="delete(reserva)"
                  class="btn btn-danger btn-sm"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-paginator-reserva
          *ngIf="paginador"
          [paginador]="paginador"
        ></app-paginator-reserva>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
